<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah" rel="stylesheet">
  <script src="/js/user/ajaxLogin.js"></script>
  <link rel="icon" type="image/png" href="/iconLogo.jpeg"/>
 
</head>

<body> 
<div class="container" style ="padding-top: 70px; padding-bottom: 40px; background-color: #d2d2d2"> 
	<div class="col-md-4">
		<h1 style = "font-family: 'Dancing Script'">Wellcome rutgon.ml</h1>
		<br>
		<br>
		<div>		
			<form id="customerForm">
			<div class="form-group">
				<label for="firstname">UserName:</label>
				<input type="text" class="form-control" id="username" placeholder="Enter Username"/>
			</div>
			<div class="form-group">
				<label for="lastname">Password:</label>
				<input type="password" class="form-control" id="password" placeholder="Enter Password"/>
			</div>
			
			<div id="postResultDiv" style ="display: none">
				<p style ="color:red">Invalid Username or Password. Try again!</p>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">LogIn</button>
			</form>
		</div>
		<br>
		<div>
			<span >
				Don’t have an account?
			</span>

			<a class="txt2" href="/user/signup">
				Sign Up
			</a>
		</div>
		<br>
	</div>
	<div class ="col-md-1"> </div>
	<!-- <div class="col-md-7" style ="background-image: url(/ows.png); height: 500px; background-repeat: no-repeat"> -->
		
	</div>	
</div>
</body>
</html>