<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create campaign</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/iconLogo.jpeg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- import date picker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- end date picker -->
<script>
    $(document).ready(function(){
        $("#btn2").click(function(){
			event.preventDefault();
            $("ol").append('<li><input type="text" class="form-control faceGroup" placeholder="Enter name face group" name ="faceGroup"/></li>');
        });
    });
</script>
<script>
$(document).ready(function() {
  $(".datepicker").datepicker();
  $('.fa-calendar').click(function() {
    $("#datepicker").focus();
  });
});
</script>



</head>

<body> 
<div class="container" style ="padding-top: 70px; padding-bottom: 40px; background-color: #d2d2d2"> 
	<div class="col-md-4">
		<h1 style = "font-family: 'Dancing Script'">Create Campaign</h1>
		<br>
		<br>
		<div>
			<form action="/enterprise/create" method="post" autocomplete="off">
				<div class="form-group">
					<label for="firstname">Name Campaign:</label>
					<input type="text" class="form-control" id="name" placeholder="Enter name campaign" name = "name"/>
				</div>
				<div class="form-group">
					<label >Url Original:</label>
					<input type="text" class="form-control" id="oldUrl" placeholder="Enter UrlOriginal" name ="oldUrl"/>
				</div>
				<!-- date picker -->
				<div>
					<label for="datepicker">Start time:</label>
					<input type="text" name='start' class="form-control col-md-10 datepicker" id="datepicker1" ng-required="true" placeholder="MM/DD/YYYY" >
					<br>
					<label for="datepicker">End time:</label>
					<input type="text" name='end' class="form-control col-md-10 datepicker" id="datepicker2" ng-required="true" placeholder="MM/DD/YYYY" >
				</div>
				<br> <br>
				<!-- end date picker -->
				<div class="form-group">
					<label for="email">Name Groups Facebook:</label>
					<ol>
						<li><input type="text" class="form-control faceGroup" placeholder="Enter name face group" name ="faceGroup"/></li>
					</ol>
				</div>
			
				<button style = "float:right" class = "btn btn-primary" id="btn2">Append group facebook</button>
				
				<br> <br> <br>
				<button type="submit" class="btn btn-primary" id ="submit">Submit</button>
			</form>
		</div>
	</div>
	<div class ="col-md-1"> </div>
	<!-- <div class="col-md-7" style ="background-image: url(/ows.png); height: 500px; background-repeat: no-repeat"> -->
	</div>	
</div>
</body>
</html>